<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>THE WT</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>

    <header class="banner">
        <h1>The WT</h1>

        <ul class="cart-menu"> </ul>
    </header>



    <div class="content">


    <section class = container>

     <div class="left-half">
     <table id="products"></table>
     </div>
     <div class="right-half">
     <div id ="product_Expansion_heading" ></div>
     <div id ="product_Expansion_img" ></div>
     <div id ="product_Expansion_inventory" ></div>
     <div id ="product_Expansion_price" ></div>
     <div id ="product_Expansion_description" ></div>
     <form id ="form" action="/cart" method="post"></form>
     </div>

     </section>
    </div>

    <footer class="banner">
        <p>Copyright &copy; 2019 COMP249 Web Technology</p>
    </footer>

    <!-- load Javascript -->
    <script src="/static/js/handlebars-v4.1.2.js"></script>
    <script src="/static/js/jquery-3.4.0.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/handler.js"></script>


</body>
</html>


