@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

html {
  font-family: 'Nanum Gothic', sans-serif;
  background-image: url("blue_background2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

body {
    margin: 0;
}

.content {
    width: 80%;
    margin: auto;
    margin-bottom: 0;
    padding: 20px;
    background-color:  #007a99  ;
}

#message {
    width: 60%;
    margin: auto;
    padding: 10px;
    background-color: white;
    text-align: center;
    font-size: 20pt;
    font-family: fixed;
}

.banner {
    text-align: center;
    margin: 0;
    padding: 10px;
    height: 90%;
}

.cart-menu {
    background-color: #007a99;
	list-style-position: inside;
	position: fixed;
	top: 5px;
	right: 50px;
	width: 200px;
	list-style-type: none;
	padding-left: 0;
	z-index:1;
}

#products td, th {
  border: 1px solid black;
}

#products a {
text-decoration: none;
	color: black;
}

#products a:hover {
text-decoration: none;
text-decoration:underline;
}

#form li {
	list-style-type: none;
	text-decoration: none;
}

#form fieldset {
	border: none;
}

.container{
    display: grid;
    grid-row-gap: 20px;
}

.left-half {
    grid-column:1;
}

.right-half {
    grid-column:3;
}


#product_Expansion_img img {
      max-width: 700px;
}

#product_Expansion_description p{
          max-width: 500px;
}
#product_Expansion_inventory p{
    margin-right: 200px;
    display: inline-block;
}